body {
  margin: 0;
}

.error-banner {
  background-color: #fff0f0;
  color: #dc3545;
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  text-align: center;
}

/* Global button focus reset */
button:focus {
  outline: none; /* Disable the default focus ring */
}

// Need to be use
@mixin custom-scrollbar {
  /* Optional: Custom scrollbar styles */
  &::-webkit-scrollbar {
    width: 6px; /* Narrow scrollbar width */
    height: 6px; /* Small scrollbar height */
  }
  &::-webkit-scrollbar-thumb {
    background-color: #666;
    border-radius: 4px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: #888;
  }
}

@mixin button-hover($hover-color) {
  &:hover {
    background-color: $hover-color;
  }
}
