
@keyframes pulse {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}

// .control-button[title="Stopping"]
.control-button.stopping {
  animation: pulse 1s infinite;
  background-color: rgba(255, 243, 230, 0.8);
} 

.control-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  flex: 1;
  padding: 10px 18px;

  .left-controls {
    display: flex;
    gap: 12px;
    align-items: center;
  }

  .minimal-status {
    color: #e0e0e0;
    font-size: 14px;
    display: flex;
    align-items: center;
    margin-right: auto;
    padding-left: 12px;
    animation: pulse 1s infinite;
  }

  .right-controls {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
    gap: 12px;
  }

  .button {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    background-color: #fcfbfb; /* White background */
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;

    &:hover {
      background-color: #cccccc;
    }

    &.active {
      background-color: rgba(40, 167, 69, 0.2);
    }

    &:disabled {

      box-shadow: none;
      background-color: rgba(200, 200, 200, 0.2);
      color: #999;
      cursor: not-allowed;
    }

    &:hover:not(:disabled) {
      background-color: rgba(255, 153, 51, 0.3);
    }

    &:active:not(:disabled) {
      transform: translateY(0);
      box-shadow: 0 2px 4px rgba(255, 153, 51, 0.1);
    }

  }
}
