# Node modules
node_modules/
# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Mac system files
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Icon files
*.icns
*.ico

# Electron build files
build/
dist/
out/

# Electron cache
.cache/
.electron/

# Compiled files
*.obj
*.o
*.d
*.exe
*.out
*.app
davinci/*
# Coverage directory used by tools like istanbul
coverage/
venv/
backend/venv/
.venv/
# IDE directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
backend/frames3.json
# Miscellaneous files
backend/.env
frontend/.env
backend/.env
frontend/.env
*.env.local
.env.development.local
.env.test.local
.env.production.local
tmp/
temp/
logs/

# Other potential directories
public/
config/

# macOS specific
Thumbs.db
.DS_Store

# Python compiled files
*.pyc
__pycache__/
backend/env/
.env

# Screen parser data
backend/src/compass/tools/screen_parser/data/**/*.pt
backend/src/compass/tools/screen_parser/data/**/*.safetensors
backend/src/compass/tools/screen_parser/data/**/*.pth
backend/src/compass/tools/screen_parser/data/**/*.onnx
backend/src/compass/tools/screen_parser/data/**/*.bin
backend/src/compass/tools/screen_parser/imgs/

# Training agent data
backend/src/compass/training_agent/data/**/*.pt
backend/src/compass/training_agent/data/**/*.safetensors
backend/src/compass/training_agent/data/**/*.pth
backend/src/compass/training_agent/data/**/*.onnx
backend/src/compass/training_agent/data/**/*.bin

# Any other model files in data directories
**/data/**/*.pt
**/data/**/*.safetensors
**/data/**/*.pth
**/data/**/*.onnx
**/data/**/*.bin

# Key file
backend/src/compass/key.py
!config/
experiments/
experiment/

# SAP models and configuration files
models/

# Database temp files
*.db-shm
*.db-wal

next_steps.md