pytest==8.0.0
pytest-asyncio==0.23.5
pillow
anthropic
flask
flask_socketio
pyautogui
google-genai
sqlalchemy
eventlet
numpy 
wheel
pandas
PyYAML
paddlepaddle==2.6.2
paddleocr
ultralytics
easyocr
google-cloud
google-cloud-vision
google-generativeai
protobuf==3.20.2
grpcio-status==1.48.0