pytest==8.0.0
pytest-asyncio==0.23.5
pillow
anthropic
flask
flask_socketio
pyautogui
sqlalchemy
eventlet
numpy 
wheel
pandas
PyYAML
google-cloud
google-cloud-vision
google-generativeai
google-genai
protobuf==3.20.2
grpcio-status==1.48.0
gevent
comtypes
openai>=1.7.0
chromadb>=0.4.15
opencv-python
tokenizers
pulp