$buttons-bar-height: 38px;
$vertical-padding: 12px;
$disabled-bg-color: #e0e0e0;

// Need to be use
$primary-bg-color: rgba(20, 20, 20, 0.85);
$secondary-bg-color: rgba(45, 45, 45, 0.85);
$border-color: #333;
$text-color: #e0e0e0;
$placeholder-color: #888;
$hover-bg-color: rgba(218, 218, 218, 0.397);
$button-radius: 16px;
