@import "../../common/styles/variables.scss";

.template-training {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #1e1e1e;
  color: #e0e0e0;

  .content {
    flex: 1;
    overflow: hidden;
  }
} 