.coordinate-preview {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(255, 0, 0, 0.5);
  border: 2px solid red;
  transform: translate(-50%, -50%); // Center the circle on the coordinates
}

.coordinate-preview-button {
  background-color: #444;
  color: #fff;
  border: none;
  padding: 4px 8px;
  border-radius: 4px;
  margin-left: 8px;
  cursor: pointer;
  font-size: 12px;

  &:hover {
    background-color: #555;
  }
} 